
/***********************/
/* MAKE A STORY LAYOUT */
/***********************/

input#btnSaveStory {
    color: #4e67c4;  
    font-family: inherit;
    font-size: 1.25em;
}

/* Style form errors */

#makeastory #errors {
    margin: 1em auto;
    color: #feedba;
}

#makeastory #errors h2 {
    font-size: .75em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 auto .5em;
    width: 95%;
}

#makeastory #errors ol {
    margin: .25em auto;
    width: 85%;   
}

#makeastory #errors ol li {
    list-style-type: disc;
    margin: .1em auto;
}

#makeastory textarea.mistake {
   border: 3px solid;
} 
#makeastory textarea.mistake, #makeastory .contact input.mistake {
   border-color: #923b5a;
} /* end form errors css */

fieldset.radio legend {
    margin: .5em auto;
}

#makeastory .contact legend, #makeastory .buttons legend, #makeastory .sentence legend {
    display: none;
}

#makeastory fieldset {
    margin: .5em auto;
}

#makeastory fieldset.contact { 
    margin-bottom: 1em;
    margin-top: 1em;
}

#makeastory fieldset.contact p { 
    margin-bottom: .5em;
}

#makeastory fieldset.contact input {
    width: 80%;
}

#makeastory fieldset.legend {
    margin: .5em 0;
}

#makeastory form {
    margin: 1em auto;
    width: 75%;
}

#makeastory textarea::placeholder { 
    font-style: italic;
}

#makeastory input[type=submit], .saveStory {
    background: #4e66c4 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 1px 1px 4px #0d6177;
    padding: .25em;
}

#makeastory input[type^='text'] { 
    background: none;
    border: none;
    border-bottom: 3px solid #0d6177;
    border-radius: 3px;
    color: #ffe19f;
    font-family: inherit;
    font-size: .9em;
    font-weight: bold;
    padding: .5em .5em 0;
}

#makeastory input[type^='text']:focus {
    outline: none;
}

#makeastory input[type^='text']::placeholder { 
    color: #0d6177;
    font-style: italic;
    opacity: 1; /* Firefox */
}

#makeastory input[type^='text']:-ms-input-placeholder { 
    color: #0d6177;
    font-style: italic;
}
 
#makeastory input[type^='text']::-ms-input-placeholder { 
    color: #0d6177;
    font-style: italic;
}
    
#makeastory main {
    background: #2b9cba;
    display: inline-block;
    padding: 1em;
}

#makeastory main > article {
    font-size: 1.3em;
}

#makeastory main h1 {
    font-size: 1.5em;
    margin: .5em auto;
    text-align: center;
}

#makeastory main h1 a {
    color: #4e66c4;
    background: #feedba;
    border: solid 4px #ffbc79;
    border-radius: 4px;
    padding: 4px;
    text-decoration: none;
}
#makeastory main h1 a:visited {
    color: #4e66c4;
}
#makeastory main h1 a:hover {
    color: #ffbc79;
}
#makeastory main h1 a:active {
    background: #ffe19fab;
}
    
#makeastory main h1 ~ p {
    font-size: .85em;
    margin: 1.5em .5em .0.5em;
}

#makeastory main h1 ~ p::first-letter {
    margin-left: 1em;
}
   
#makeastory #randomStory {
    margin: 1em auto;
    width: 75%;
}

#randomStory > p:first-child, .storyContainer > p:first-child:first-line {
    line-height: initial;
}

#randomStory > p:first-child:first-letter {
    font-size: 2em; 
    font-family: serif;
}

#makeastory #randomStory, textarea#txtYourSentence {
    background: white;
    border-radius: 4px;
    box-shadow: 2px 2px 18px #0d6177;
    color: #4e67c4;
    font-size: 1em;
    padding: 1em;  
}

#makeastory section {
}

#makeastory section#howToUse {
    margin: 0 auto;
    width: 55%;
}

#makeastory section#howToUse p {
    line-height: 1.5;
}

#makeastory section#makeTheStory {
    margin: 0 auto;
    width: 75%;
}

#makeTheStory p {
    line-height: 1.75;
}

p#nextStory {
    float: right;
    display: inline-block;
    width: 70%;
    top: 27em;
    position: absolute;
    text-align: right;
}

p#nextStory a {
   font-size: 4em;
   text-decoration: none;
}
p#nextStory a, .nextStory {
   color:  #ffe19f;
   text-decoration: none;
   text-shadow: 2px 2px 18px #0d6177; 
}
p#nextStory a:link {
   
}
p#nextStory a:visited {   
    color: #ffe19f;
}
p#nextStory a:hover {   
    text-shadow: 2px 2px 4px #0d6177;
}
p#nextStory a:active { 
    color: #ffe19fab;
}

p span.saveStory {
    cursor: none;
    box-shadow: none;
    padding: 0;
}

textarea#txtYourSentence {
    border: none;
    font-family: inherit;
    margin: .25em auto;
    width: 100%;
}

/* Star Rating Design */

/* Targets all sibling star labels before the hovered-over p element 
so that all "preceding" (the labels appear in r-to-l direction) 
star labels show effect. Add checked element to make the effect "stick"
Inspiration for these selectors from 
https://www.everythingfrontend.com/posts/star-rating-input-pure-css.html */

.hide {
    display: none;
}

input[type="radio"], input[type="checkbox"] {
    background-color: initial;
    cursor: default;
    margin: 3px 0.5ex;
}

label.radio-field {
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline;
    font-size: 1.5em;
    margin: 0;
    padding: .2em;
    text-shadow: 1px 1px 0px #0d6177;
}

.radio-field:hover, .radio-field:hover ~ .radio-field,
 input[type="radio"]:checked ~ .radio-field {
    color: #ffe19d;
}

.radioWrapper {
    direction: rtl;
    text-align: center;
}

/* Resets preceding-stars effect when mouse hovers over a new star */
.radioWrapper:hover .radio-field {
  
}
/* end star rating css */


/**************************/
/* SUBMITTED STORY LAYOUT */
/**************************/
.storyContainer {
    margin: 1em auto 1.5em;
    color: #ffe19d;
}

.storyContainer ~ p {
    text-align: center;
}

.storyContainer p:first-child:first-letter {
    font-family: serif;
    font-size: 3em;
    padding-left: .5em;
}

/***********************************/
/* RESPONSIVE LAYOUT MEDIA QUERIES */
/***********************************/

@media screen and (max-width: 660px){
    p#nextStory {
        top: 35em;
        width: 75%;}
}

@media screen and (max-width: 490px){
    p#nextStory {
        top: 42em; 
        width: 85%;}
}

@media screen and (max-width: 600px){
    
    #errors ol {width: 90%;}
    
    #makeastory form {width: 95%;}
    
    #makeastory main {font-size: .75em;}
    
    #makeastory section#makeTheStory {width: 100%;}
    
    #makeastory section#howToUse {width: 98%;}
    
    #makeastory #randomStory {width: 95%;}
    
    p#nextStory a {font-size: 3em;}
    
}