
/***********************/
/* MAKE A STORY LAYOUT */
/***********************/

input#btnSaveStory {
    color: #4e67c4;  
    cursor: pointer;
    font-family: inherit;
    font-size: 1.25em;
}

#makeastory .contact legend, #makeastory .buttons legend {
    display: none;
}

#makeastory form {
    margin: 1em auto;
    width: 75%;
}

#makeastory fieldset.contact { 
    margin-bottom: 1em;
    margin-top: 2em;
}

#makeastory fieldset.contact input {
    width: 75%;
}

#makeastory main {
    background: #2b9cba;
    padding: 1em;
}

#makeastory main article {
    font-size: 1.5em;
}

#makeastory main h1 {
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
}

#makeastory main h1 a {
    background: #feedba;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(181, 181, 181, 0.86);
    padding: 4px;
    text-decoration: none;
}
    
#makeastory main h1+p {
    font-size: .75em;
    margin: 1em .5em .0.5em;
}
   
#makeastory #randomStory {
    margin: 1em auto;
    width: 75%;
}

#randomStory > p:first-child:first-letter {
    font-size: 2em;
    font-family: serif;
}

#makeastory #randomStory, textarea#txtYourSentence {
    background: white;
    color: #4e67c4;
    font-size: 1em;
    padding: .5em;
}

#makeastory section {
}

#makeastory section#howToUse {
    margin: 0 auto;
    width: 45%;
}

#makeastory section#makeTheStory {
    margin: 0 auto;
    width: 75%;
}

textarea#txtYourSentence {
    border: none;
    margin: .25em auto;
    width: 100%;
}

/* Star Rating Design */

/* Targets all sibling star labels before the hovered-over p element 
so that all "preceding" (the labels appear in r-to-l direction) 
star labels show effect. Add checked element to make the effect "stick"
Inspiration for these selectors from 
https://www.everythingfrontend.com/posts/star-rating-input-pure-css.html */

.hide {
    display: none;
}

input[type="radio"], input[type="checkbox"] {
    background-color: initial;
    cursor: default;
    margin: 3px 0.5ex;
}

label.radio-field {
    color: rgba(45, 38, 32, 0.76);
    cursor: pointer;
    display: inline;
    font-size: 1.5em;
    margin: 0;
    padding: .2em;
}

.radio-field:hover, .radio-field:hover ~ .radio-field,
 input[type="radio"]:checked ~ .radio-field {
    color: rgb(255, 255, 255);
}

.radioWrapper {
    direction: rtl;
    text-align: center;
}

/* Resets preceding-stars effect when mouse hovers over a new star */
.radioWrapper:hover .radio-field {
  
}


/*******************/
/* FEEDBACK LAYOUT */
/*******************/