/* Imports */
@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase|Neucha|Patrick+Hand|Poppins|Roboto+Condensed|Ubuntu|Slabo+27px');

/****** Gallery Slider ******/ 

.flexslider{
    width: 92%;
    margin: auto;
    background-color: #d3dcf0;
    border-radius: 10px;
}

.flex-caption{
    width: 100%;
    padding: 2.5%;
    margin: 0 auto 2% auto;
    font-family: "Slabo 27px";
    text-align: left;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #000;
    transition: background-color, .7s;
    
}

.foreground-gradient{
    position: absolute;
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(255,255,255,.1));
    border: 2px solid red;
    height: 35%;
    width: 12.5%;
    display: none;
    
}

.flexslider img{
    max-width: 1000px;
    margin: auto;
    border: 10px solid #9bcfdc;
}

.flexslider h3{
    font-weight: bold;
    font-size: 1.7em;
    font-family: neucha;
    text-align: center;
    padding-top: 1.5em;
}

.flexslider h4{
    font-family: Poppins;
    font-size: 1.1em;
    text-align: center;
    padding: 2%;
}

.flex-viewport{
    max-width: 100%;
    background: rgba(0,0,0,0);
}

.story-main{
    background-color: white;
}

.story-main h5{
    display: none;
}

.story-content-min{
    max-height: 190px;
    overflow: hidden;
}

.story-content-max{
    max-height: 100%;
}

#extender-button{
    display: block;
    position: fixed;
    width: 100%;
    top: 80%;
    margin: 2% 0 0 -2%;
    padding: 1%;
    opacity: 0;
    right: 0;
    border: 0px;
    font-family: Poppins;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 1px #FFF;
    font-size: 1.1em;
    color: #000;
    background-color: rgba(255, 255, 255, .8);
    transition: opacity, .3s;
}

#extender-button:hover{
    border: solid #CCCCCC;
    border-width: 0px 2px 3px 2px;
    font-size: 1.15em;
    transition: font-size .1s;
    transition: border-width .1s;
}

#extender-button:active{
    margin-top: 2.1%;
    font-size: 1.1em;
    border-color: #B3B3B3;
    border-width: 0px 1px 1px 1px;
}


/****** About Page ******/
.introSection h1, .introSection h2,.aboutDetails h2, .devBios h2, .devBios h3{
    font-family: Poppins;
    font-size: 2em;
}

#about p, #about .aboutDetails a, .aboutDetails li{
    font-family: "Roboto Condensed", sans-serif;
}

#about .devBios h3{
    font-family: Neucha;
    
}

#about{
    margin: 0;
}

.introSection{
    width: 95%;
    margin: 3% auto;
    background-color: #ffe19d;
    border-bottom: 15px solid #ffbc79;
}

.introHeading{
    margin: auto;
    padding: 2%;
    background-color: #ffbc79;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
}

.helpText p{
    margin-top: 5%;
    font-size: 1.2em;
    font-weight: bold;
}

.introSection .aboutText{
    padding: 3%;
    font-size: 1.5em;
    line-height: 1.2em;
    text-align: center;
    width: 85%;
    margin: auto;
}

.aboutDetails{
    width: 100%;
    text-align: center;
}

.aboutDetails section{
    display: inline-block;
    vertical-align: top;
    margin: 8.5% 3.5% 0% 3.5%;
    width: 40%;
    height: 290px;
}

.aboutDetails section h2{
    width: 100%;
    padding: 3% 0 3% 0;
    border-radius: 8px 8px 1px 1px;
    border: 4px solid #a7b6d8;
    border-width: 0px 0 8px 0;
    background-color: #d3dcf0;
}

.aboutDetails section .aboutText{
    width: 60%;
    text-align: left;
    margin: 5% auto 0% auto;
    font-size: 1.15em;
}

.aboutDetails section .helpText{
    margin: 6% 2% 0% 2%;
    font-size: 1.2em;
    font-weight: bold;
}

.aboutDetails section ul{
    list-style-type: initial;
    padding: 5% 7%;
    width: 60%;
    margin: auto;
    text-align: center;
}

.aboutDetails section ul li{
    padding: 3%;
    text-align: left;
}

.devBios{
    width: 100%;
    text-align: center;
}

.devBios section{
    display: inline-block;
    margin: 1%;
    width: 28%;
}

#about .devBios h2{
    margin: 3% 0 1.5% 0;
    font-size: 2.5em;
    padding: 3%;
    background-color: #ffe19f;
}

.devBios h3{
    background-color: #d3dcf0;
    border-radius: 4px;
    margin: auto;
    width: 35%;
}

.devBios section p{
    text-align: left;
    width: 70%;
    margin: auto;
    padding: 3%;
    line-height: 1.5em;
}

.devBios section img{
    margin: 2%;
    border: solid #9bcfdc;
    border-radius: 2px;
    border-width: 0px 0 8px 0;
    width: 90%;
}

/********** Feedback Page **********/
.form-heading{
    margin: 2%;
    font-family: Poppins;
    text-align: center;
    font-size: 2em;
}

h3.form-heading{
    margin: 1%;
    font-size: 1.2em;
}

#feedback form{
    width: 80%;
    background-color: #cdeded;
    padding: 4%;
    margin: auto;
}

#feedback fieldset{
    width: 80%;
    margin: 2% auto;
    padding: 1%;
}

#feedback legend{
    margin: auto;
    font-family: Poppins;
    font-size: 1.5em;
    font-weight: bold;
}

#feedback form p{
    font-size: 1.5em;
    text-align: left;
    width: 50%;
    margin: 6% auto 0 auto;
    padding: 1.5%;
    vertical-align: middle;
    font-family: Poppins;
    border: 4px solid #a7b6d8;
    border-width: 0px 0px 0px 3px;
}

#feedback .textarea p{
    margin: .5% auto;
    border-width: 0px;
}

#feedback input{
    display: block;
    width: 90%;
    padding: 1.5%;
    border-radius: 10px;
    margin: 2% auto;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    transition: background-color, .5s;
    box-shadow: 0px 4px #a7b6d8;
}

#feedback input:focus{
    background-color: #d3dcf0;
    transition: background-color, .5s;
}

#feedback textarea{
    width: 100%;
    margin: 2%;
    padding: 8%;
}

.buttons{
    text-align: center;
}

#feedback .button{
    width: 15%;
    padding: 1.5%;
    border-radius: 8px;
    box-shadow: 0px 3px #a7b6d8;
    font-size: 1em;
}

#feedback #errors{
    color: red;
    width: 50%;
    text-align: center;
    margin: 2% auto;
    font-family: "Roboto Condensed", sans-serif;
}

#feedback ol{
    margin: 2%;
    font-weight: bold;
    list-style-type: square;
}

#feedback ol li{
    padding: .5em;
    font-size: 1.1em;
}

#feedback input.mistake{
    background-color: #fedcde;
    box-shadow: 0px 3px #fcbcc1;
}

/********** Homepage **********/
#index main{
    margin: auto;
    text-align: center;
}

#index article{
    width: 40%;
    margin: auto;
    text-align: center;
}

#index article img{
    max-width: 80%;
    border: 10px solid #ffdcbe;
}

#index article p{
    margin: 5%;
    margin: 5% 2% 5% 4%;
    text-align: left;
    line-height: 1.5em;
    font-family: "Roboto Condensed", sans-serif;
}

.introSection{
    font-family: "Roboto Condensed", sans-serif;
}

/******* Footer *******/
footer{
    width: 100%;
    background-color: #ffe19f;
    text-align: center;
    font-family: "Roboto Condensed";
    border: 4px solid #ffbc79;
    border-width: 8px 0 0 0;
}

footer p{
    padding: 1.5% 0.2% 1.25% 0;
    display: inline-block;
    font-size: .9em;
}

footer .author-intro{
    padding: 1.5% .75% 0% 0;
    font-size: 1em;
}

/*** Mobile Compatibility ***/

@media only screen and (max-width: 600px) {
    #extender-button{
        top: 82%;
        padding: 3% 0% 4% 0%;
    }
    
    /***** About Page *****/
    .aboutDetails section{
        width: 100%;
        margin: 0 auto;
        display: block;
        border-width: 0;
    }
    
    #about .aboutDetails section h2{
        font-size: 1.7em;
        border-radius: 0;
    }
    
    .aboutDetails section .aboutText{
        width: 75%;
        font-size: 1.1em;
        line-height: 1.2em;
    }
    #about .devBios h2{
        margin: 0% 0 10% 0;
        font-size: 2.5em;
        padding: 3%;
        background-color: #ffe19f;
    }
    
    #about .devBios h3{
        width: 60%;
        background-color: #a7b6d8;color: white;
    }
    
    .devBios section{
        width: 80%;
        margin: 0% 0 5% 0;
    }
    .devBios section p{
        font-size: 1em;
        width: 100%;
        border-width: 0px;
    }

    .devBios section img{
        width: 85%;
        border-width: 0;
    }
    /********** Feedback Page **********/
    .form-heading{
        margin: 7%;
        font-size: 1.8em;
    }

    h3.form-heading{
        margin: 5%;
        font-size: 1.1em;
    }

    #feedback form{
        width: 100%;
        background-color: #cdeded;
        padding: 4%;
        margin: auto;
    }

    #feedback fieldset{
        width: 80%;
        margin: 2% auto;
        padding: 1%;
    }

    #feedback legend{
        margin: auto;
        font-family: Poppins;
        font-size: 1.2em;
        font-weight: bold;
    }

    #feedback form p{
        font-size: 1em;
        width: 100%;
        margin: 6% auto 0 auto;
        padding: 3%;
        border-width: 0px;
    }

    #feedback input{
        width: 90%;
        padding: 2%;
        border-radius: 10px;
        box-shadow: 0px 2px #a7b6d8;
    }

    #feedback .button{
        width: 50%;
        padding: 4%;
        box-shadow: 0px 3px #a7b6d8;
        font-size: 1em;
    }
    /********** Homepage **********/

    #index article{
        width: 100%;
        margin: 4% auto;
        text-align: center;
        border: 8px solid #ffdcbe;
        border-width: 0px 0px 0px 2px;
        font-size: .98em;
    }

    #index article img{
        display: none;
    }

    #index article p{
        margin: 5%;
        margin: 5% 2% 5% 4%;
        text-align: left;
        line-height: 1.5em;
        font-family: "Roboto Condensed", sans-serif;
    }

    .introSection{
        font-family: "Roboto Condensed", sans-serif;
        width: 100%;
    }
    
    .introSection .aboutText{
        font-size: 1.2em;
        width: 95%;
    }
}