
body{
    margin: 2%;
}

/* Header */
header img{
    float: left;
}

header h1, header h3{
    clear: left;
    margin: auto;
    text-align: center;
}

/* Nav */
nav ol{
    width: 90%;
    margin: 2% 0;
    text-align: center;
}

nav ol li{
    border: 2px solid #000;
    border-width: 0px 1px 0px 1px;
    padding: 1px;
    text-align: center;
    width: 10%;
    margin: auto;
    display: inline-block;
}

/* Stories */
#index .stories{
    padding: 4%;
}

/* Gallery Slider */
.flex-caption{
  width: 96%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
}