/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 25, 2019, 11:56:30 AM
    Author     : sydin
*/

/************************/
/*       NAV LAYOUT     */
/************************/
nav {
    margin: .1em 0 .1em 0;
    transition: opacity, .5s;
    position: sticky;
    top: 0;
    z-index: 100000;
}
nav ul {
    list-style-type: none;
    width: 100%;
    height: 70px;
}
nav li {
    display: inline-block;
    width: 20%;
    padding: 1.5%;
    font-size: 1.25em;
    text-align: center;
    background-color: #4e67c4;
    border: solid #fff;
    border-width: 0px 4px 0px 4px;
    transition: background-color, font-size, .5s;
}
nav li:hover {
    font-size: 1.35em;
    background-color: #3ea2b9;
    transition: background-color, font-size, .5s;
}

nav .activePage {
    background-color: #9bcfdc;
}
nav .activePage:hover {
    font-size: 1.25em;
    background-color: #9bcfdc;
}

nav a {
    font-family: "Roboto Condensed";
    color: white;
}

/************************/
/*     HEADER LAYOUT    */
/************************/

body header {
    height: 200px;
    margin-bottom: 1%;
    text-align: center;
}

#header-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header h1 a {
    font-family: Poppins;
    font-size: 5em;
    transition: color, .2s;
}

header h1 a:hover{
    color: #4e67c4;
    transition: color, .2s;
}

header h3 {
    margin-top: .5%;
    font-family: Poppins;
    font-size: 1.5em;
}

header .site-header {
    padding: 15px;
}

/************************/
/*   HOMEPAGE LAYOUT    */
/************************/

#index #intro-article {
    margin: 1.5em;
    display: inline-block;
}

#index article {
    text-align: right;
    display: inline-block;
}

#index article p a {
    font-weight: bold;
    color: #000;
}

#index article p a:hover {
    color: #4e67c4;
}

/***** Mobile Compatibility *****/
@media screen and (max-width: 600px) {
    header h1 a {
        font-size: 3em;
        transition: font-size, .5s;
    }

    header h3 {
        font-size: 1.2em;
        transition: font-size, .5s;
    }
    
    /* Nav */
    nav{
        position: static;
        top: 0;
        z-index: 1000;
        margin: .1em 0 .5em 0;
    }
    nav ul{
        height: initial;
    }
    
    nav li{
        margin: auto;
        display: block;
        width: 95%;
        border: 5px solid white;
        padding: 5% 0 5% 0;
        font-size: 1.25em;
    }
    
    nav li:hover{
        font-size: 1.25em;
    }
}
